# Core Flask
Flask==2.3.3

# Authentication & Forms
Flask-Login==0.6.3
Flask-WTF==1.1.1

# Database
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.5
python-dotenv==1.0.0

# WSGI server for production
gunicorn==21.2.0
